<nav class="horizontal-menu-wrapper">
    <ul class="h-menu">

        <li class="h-dropdown">
            <a href="#" class="h-link active">
                <i class="fa-solid fa-tachometer"></i> <span>Dashboard</span> <i
                    class="fa-solid fa-chevron-down h-arrow"></i>
            </a>
            <div class="h-dropdown-menu">
                <a href="index.html">Home</a>
                <a href="pages-analytics.html">Analytics</a>
                <a href="pages-sales-ecommerce.html">Sales / Ecommerce</a>
                <a href="pages-crm.html">CRM</a>
            </div>
        </li>

        <li class="h-dropdown mega-position">
            <a href="#" class="h-link">
                <i class="fa-solid fa-layer-group"></i> <span>UI Kit</span> <i
                    class="fa-solid fa-chevron-down h-arrow"></i>
            </a>
            <div class="h-dropdown-menu mega-menu">

                <div class="mega-column">
                    <span class="mega-title">General Elements</span>
                    <a href="pages-alerts.html">Alerts</a>
                    <a href="pages-buttons.html">Buttons</a>
                    <a href="pages-cards.html">Cards</a>
                    <a href="pages-badges.html">Badges</a>
                    <a href="pages-tabs.html">Tabs</a>
                    <a href="pages-tooltips.html">Tooltips</a>
                </div>

                <div class="mega-column">
                    <span class="mega-title">Layout Elements</span>
                    <a href="pages-grid-system.html">Grid System</a>
                    <a href="pages-modals.html">Modals</a>
                    <a href="pages-offcanvas.html">Offcanvas</a>
                    <a href="pages-accordions.html">Accordions</a>
                    <a href="pages-list-group.html">List Group</a>
                </div>

                <div class="mega-column">
                    <span class="mega-title">Advanced</span>
                    <a href="pages-notifications.html">Notifications</a>
                    <a href="pages-sweetalert.html">SweetAlert</a>
                    <a href="pages-carousel.html">Carousel</a>
                    <a href="pages-tree-view.html">Tree View</a>
                </div>
            </div>
        </li>

        <li class="h-dropdown">
            <a href="#" class="h-link">
                <i class="fa-solid fa-clipboard-list"></i> <span>Forms & Tables</span> <i
                    class="fa-solid fa-chevron-down h-arrow"></i>
            </a>
            <div class="h-dropdown-menu">
                <span class="dropdown-header-text">Forms</span>
                <a href="pages-input-textarea.html">Inputs</a>
                <a href="pages-selects.html">Selects</a>
                <a href="pages-file-upload.html">File Upload</a>
                <a href="pages-form-wizard.html">Form Wizard</a>
                <div class="dropdown-divider"></div>
                <span class="dropdown-header-text">Tables</span>
                <a href="pages-basic-table.html">Basic Table</a>
                <a href="pages-datatables.html">DataTables</a>
                <a href="pages-exportable.html">Exportable</a>
            </div>
        </li>

        <li class="h-dropdown">
            <a href="#" class="h-link">
                <i class="fa-solid fa-chart-pie"></i> <span>Visuals</span> <i
                    class="fa-solid fa-chevron-down h-arrow"></i>
            </a>
            <div class="h-dropdown-menu">
                <a href="pages-apexcharts.html">ApexCharts</a>
                <a href="pages-chartjs.html">ChartJS</a>
                <a href="pages-maps.html">Maps</a>
                <div class="dropdown-divider"></div>
                <a href="pages-fontawesome.html">FontAwesome</a>
                <a href="pages-feather-icons.html">Feather Icons</a>
            </div>
        </li>

        <li class="h-dropdown mega-position">
            <a href="#" class="h-link">
                <i class="fa-solid fa-file"></i> <span>Pages</span> <i class="fa-solid fa-chevron-down h-arrow"></i>
            </a>
            <div class="h-dropdown-menu mega-menu" style="width: 500px;">
                <div class="mega-column">
                    <span class="mega-title">User Pages</span>
                    <a href="pages-profile-all.html">Profile</a>
                    <a href="pages-settings.html">Settings</a>
                    <a href="pages-pricing.html">Pricing</a>
                    <a href="pages-gallery.html">Gallery</a>
                </div>
                <div class="mega-column">
                    <span class="mega-title">Auth</span>
                    <a href="#">Login</a>
                    <a href="#">Register</a>
                    <a href="#">Forgot Password</a>
                </div>
                <div class="mega-column">
                    <span class="mega-title">Utility</span>
                    <a href="pages-404-not-found.html">404 Error</a>
                    <a href="pages-maintenance.html">Maintenance</a>
                    <a href="pages-colors.html">Colors</a>
                </div>
            </div>
        </li>

        <li class="h-dropdown">
            <a href="#" class="h-link">
                <i class="fa-solid fa-gear"></i> <span>System</span> <i class="fa-solid fa-chevron-down h-arrow"></i>
            </a>
            <div class="h-dropdown-menu">
                <span class="dropdown-header-text">User Mgmt</span>
                <a href="pages-user-list.html">User List</a>
                <a href="pages-roles-permissions.html">Roles</a>
                <div class="dropdown-divider"></div>
                <span class="dropdown-header-text">Dev Tools</span>
                <a href="pages-api-tester.html">API Tester</a>
                <a href="pages-changelog.html">Changelog</a>
            </div>
        </li>

    </ul>
</nav>