<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <span class="sidebar-label">Main Menu</span>
        <button class="collapse-btn" id="collapseBtn"><i class="fa-solid fa-chevron-left"></i></button>
    </div>
    <div class="nav-section mt-2">
        <a href="index.html" class="nav-link">
            <i class="fa-solid fa-house nav-icon"></i>
            <span class="nav-text">Home</span>
        </a>
        <div class="nav-link has-submenu ">
            <i class="fa-solid fa-tachometer nav-icon"></i>
            <span class="nav-text">Dashboard</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu ">
            <a href="pages-analytics.html" class="nav-link "><i class="fa-regular fa-circle nav-icon"></i>
                Analytics</a>
            <a href="pages-sales-ecommerce.html" class="nav-link"><i class="fa-regular fa-circle nav-icon"></i> Sales /
                Ecommerce</a>
            <a href="pages-crm.html" class="nav-link"><i class="fa-regular fa-circle nav-icon"></i> CRM</a>
        </div>


        <div class="sidebar-label mt-3 mb-2">Apps & Components</div>

        <div class="nav-link has-submenu">
            <i class="fa-solid fa-layer-group nav-icon"></i>
            <span class="nav-text">UI Elements</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <div class="nav-link has-submenu">
                <span class="nav-text">General Elements</span>
                <i class="fa-solid fa-chevron-down nav-arrow"></i>
            </div>
            <div class="submenu">
                <a href="pages-alerts.html" class="nav-link">Alerts</a>
                <a href="pages-buttons.html" class="nav-link">Buttons</a>
                <a href="pages-badges.html" class="nav-link">Badges</a>
                <a href="pages-breadcrumbs.html" class="nav-link">Breadcrumbs</a>
                <a href="pages-cards.html" class="nav-link">Cards</a>
                <a href="pages-dropdowns.html" class="nav-link">Dropdowns</a>
                <a href="pages-progress.html" class="nav-link">Progress</a>
                <a href="pages-spinners.html" class="nav-link">Spinners</a>
                <a href="pages-tabs.html" class="nav-link">Tabs</a>
                <a href="pages-tooltips.html" class="nav-link">Tooltips</a>
            </div>


            <div class="nav-link has-submenu">
                <span class="nav-text">Layout Elements</span>
                <i class="fa-solid fa-chevron-down nav-arrow"></i>
            </div>
            <div class="submenu">
                <a href="pages-grid-system.html" class="nav-link">Grid System</a>
                <a href="pages-list-group.html" class="nav-link">List Group</a>
                <a href="pages-modals.html" class="nav-link">Modals</a>
                <a href="pages-offcanvas.html" class="nav-link">Offcanvas</a>
                <a href="pages-accordions.html" class="nav-link">Accordions</a>
            </div>


            <div class="nav-link has-submenu">
                <span class="nav-text">Advanced Elements</span>
                <i class="fa-solid fa-chevron-down nav-arrow"></i>
            </div>
            <div class="submenu">
                <a href="pages-notifications.html" class="nav-link">Notifications</a>
                <a href="pages-sweetalert.html" class="nav-link">SweetAlert</a>
                <a href="pages-carousel.html" class="nav-link">Carousel</a>
                <a href="pages-timeline.html" class="nav-link">Timeline</a>
                <a href="pages-tree-view.html" class="nav-link">Tree View</a>
                <a href="pages-avatar-info.html" class="nav-link">Avatar Info</a>
            </div>

        </div>

        <div class="nav-link has-submenu">
            <i class="fa-solid fa-clipboard-list nav-icon"></i>
            <span class="nav-text">Forms</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <div class="nav-link has-submenu">
                <span class="nav-text">Form Elements</span>
                <i class="fa-solid fa-chevron-down nav-arrow"></i>
            </div>
            <div class="submenu">
                <a href="pages-input-textarea.html" class="nav-link">Input & Textarea</a>
                <a href="pages-selects.html" class="nav-link">Selects</a>
                <a href="pages-checks-radios.html" class="nav-link">Checks & Radios</a>
                <a href="pages-switches.html" class="nav-link">Switches</a>
                <a href="pages-input-groups.html" class="nav-link">Input Groups</a>
                <a href="pages-file-upload.html" class="nav-link">File Upload</a>
                <a href="pages-pickers.html" class="nav-link">Pickers</a>
            </div>

            <div class="nav-link has-submenu">
                <span class="nav-text">Form Layouts</span>
                <i class="fa-solid fa-chevron-down nav-arrow"></i>
            </div>
            <div class="submenu">
                <a href="pages-vertical-form.html" class="nav-link">Vertical</a>
                <a href="pages-horizontal-form.html" class="nav-link">Horizontal</a>
                <a href="pages-multi-column-form.html" class="nav-link">Multi Column</a>
            </div>

            <div class="nav-link has-submenu">
                <span class="nav-text">Validation</span>
                <i class="fa-solid fa-chevron-down nav-arrow"></i>
            </div>
            <div class="submenu">
                <a href="pages-client-side.html" class="nav-link">Client-side</a>
                <a href="pages-server-side.html" class="nav-link">Server-side</a>
                <a href="pages-form-error.html" class="nav-link">Form Errors</a>
            </div>
            <a href="pages-form-wizard.html" class="nav-link">Form Wizard</a>

        </div>

        <div class="nav-link has-submenu">
            <i class="fa-solid fa-table nav-icon"></i>
            <span class="nav-text">Tables</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <a href="pages-basic-table.html" class="nav-link">Basic Table</a>
            <a href="pages-responsive-table.html" class="nav-link">Responsive Table</a>
            <a href="pages-datatables.html" class="nav-link">DataTables</a>
            <a href="pages-editable-table.html" class="nav-link">Editable Table</a>
            <a href="pages-exportable.html" class="nav-link">Exportable</a>
        </div>


        <div class="nav-link has-submenu">
            <i class="fa-solid fa-chart-pie nav-icon"></i>
            <span class="nav-text">Charts</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <a href="pages-apexcharts.html" class="nav-link">ApexCharts</a>
            <a href="pages-chartjs.html" class="nav-link">ChartJS</a>
            <a href="pages-advanced-charts.html" class="nav-link">Advanced Charts</a>
            <a href="pages-maps.html" class="nav-link">Maps</a>
        </div>


        <div class="nav-link has-submenu">
            <i class="fa-solid fa-icons nav-icon"></i>
            <span class="nav-text">Icons</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <a href="pages-fontawesome.html" class="nav-link">FontAwesome</a>
            <a href="pages-remix-icons.html" class="nav-link">Remix Icons</a>
            <a href="pages-feather-icons.html" class="nav-link">Feather Icons</a>
        </div>


        <div class="sidebar-label mt-3 mb-2">Pages & Auth</div>

        <div class="nav-link has-submenu">
            <i class="fa-solid fa-file nav-icon"></i>
            <span class="nav-text">Pages</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <a href="pages-profile-all.html" class="nav-link">Profile</a>
            <a href="pages-settings.html" class="nav-link">Settings</a>
            <a href="pages-faq.html" class="nav-link">FAQ</a>
            <a href="pages-pricing.html" class="nav-link">Pricing</a>
            <a href="pages-gallery.html" class="nav-link">Gallery</a>
        </div>


        <div class="nav-link has-submenu">
            <i class="fa-solid fa-lock nav-icon"></i>
            <span class="nav-text">Authentication</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <a href="#" class="nav-link">Login</a>
            <a href="#" class="nav-link">Register</a>
            <a href="#" class="nav-link">Forgot Password</a>
            <a href="#" class="nav-link">2FA</a>
        </div>

        <div class="nav-link has-submenu">
            <i class="fa-solid fa-triangle-exclamation nav-icon"></i>
            <span class="nav-text">Error Pages</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <a href="pages-403-not-found.html" class="nav-link">403</a>
            <a href="pages-404-not-found.html" class="nav-link">404 Not Found</a>
            <a href="pages-500-server-error.html" class="nav-link">500 Server Error</a>
            <a href="pages-maintenance.html" class="nav-link">Maintenance</a>
        </div>


        <div class="nav-link has-submenu">
            <i class="fa-solid fa-wrench nav-icon"></i>
            <span class="nav-text">Utilities</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <a href="pages-colors.html" class="nav-link">Colors</a>
            <a href="pages-typography.html" class="nav-link">Typography</a>
            <a href="pages-borders.html" class="nav-link">Borders</a>
            <a href="pages-shadows.html" class="nav-link">Shadows</a>
            <a href="pages-spacing.html" class="nav-link">Spacing</a>
            <a href="pages-sizing.html" class="nav-link">Sizing</a>
        </div>


        <div class="sidebar-label mt-3 mb-2">System</div>

        <div class="nav-link has-submenu">
            <i class="fa-solid fa-users nav-icon"></i>
            <span class="nav-text">User Mgmt</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <a href="pages-user-list.html" class="nav-link">User List</a>
            <a href="pages-roles-permissions.html" class="nav-link">Roles & Permissions</a>
            <a href="pages-activity-logs.html" class="nav-link">Activity Logs</a>
        </div>


        <div class="nav-link has-submenu">
            <i class="fa-solid fa-gear nav-icon"></i>
            <span class="nav-text">Settings</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <a href="pages-general.html" class="nav-link">General</a>
            <a href="pages-theme.html" class="nav-link">Theme</a>
            <a href="pages-backup.html" class="nav-link">Backup</a>
            <a href="pages-api-keys.html" class="nav-link">API Keys</a>
        </div>


        <div class="nav-link has-submenu">
            <i class="fa-solid fa-terminal nav-icon"></i>
            <span class="nav-text">Dev Tools</span>
            <i class="fa-solid fa-chevron-down nav-arrow"></i>
        </div>
        <div class="submenu">
            <a href="pages-api-tester.html" class="nav-link">API Tester</a>
            <a href="pages-swagger-docs.html" class="nav-link">Swagger Docs</a>
            <a href="pages-changelog.html" class="nav-link">Changelog</a>
        </div>


        <a href="pages-documentation.html" class="nav-link">
            <i class="fa-solid fa-book nav-icon"></i>
            <span class="nav-text">Documentation</span>
        </a>


    </div>
    <div class="upgrade-link">
        <i class="fa-solid fa-wand-magic-sparkles"></i> <span>Upgrade to Plus</span>
    </div>
</aside>